html, body {
	width: 100%;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}

.content {
  color: white;
}

.gridster .gs-w {
  background: #eee
}

.gridster ul {
  background-color: white !important;
  background: url(../static/img/logo.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.gridster li {
  font-size: 1em;
  text-align: center;
  line-height: 100%;
}

ul {
  list-style-type: none;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

li {
  list-style: none;
}

li iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.owl-carousel, 
.owl-stage-outer, 
.owl-stage,
.owl-item {
  height: 100%;
}

.owl-carousel .owl-item img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: 100% !important;
}