<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="../js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../js/mootools-yui-compressed.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/clock.css">

    <style type="text/css">
        html, body {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <a class="weatherwidget-io" href="https://forecast7.com/en/59d9330d34/saint-petersburg/" data-label_1="SAINT PETERSBURG" data-label_2="WEATHER" data-mode="Current" data-theme="original">SAINT PETERSBURG WEATHER</a>

    <div class="clock-wrapper">
        <div id="clock">
            <p class="date">{{ date }}</p>
            <p class="time">{{ time }}</p>

            <div class="clock-left-text">
                <div class="text">@TeamsTV_bot</div>
                <div class="text-bot">#PiterDellEmc</div>
            </div>
            <div class="clock-right-text">
                <div class="QR_code"></div>
            </div>
        </div>
    </div>

    <script>
        function clockInit() {
            let week = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'];
            let timerID = setInterval(updateTime, 1000);
            updateTime();
            function updateTime() {
                let cd = new Date();

                let date = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth()+1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
                let time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
                $('#clock .time').text(time);
                $('#clock .date').text(date);
            };

            function zeroPadding(num, digit) {
                let zero = '';
                for(let i = 0; i < digit; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-digit);
            }
        }

        function initWeatherWidget(d,s,id) {
            let js, fjs=d.getElementsByTagName(s)[0];

            if(!d.getElementById(id)){
                js = d.createElement(s);
                js.id = id;
                js.src = "https://weatherwidget.io/js/widget.min.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }

        setTimeout(function () {
            clockInit();
            initWeatherWidget(document, "script", "weatherwidget-io-js");
        }, 250);
    </script>
</body>
</html>>