<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>

	<script src="../static/js/clock.js" type="text/javascript"></script>

	<link rel="stylesheet" type="text/css" href="./css/newClock.css">
</head>
<body>

<div class="clock-wrapper">
	<div id="clock">
		<p class="date">{{ date }}</p>
		<p class="time">{{ time }}</p>

		<div class="clock-left-text">
			<div class="text">@TeamsTV_bot</div>
			<div class="text-bot">#PiterDellEmc</div>
		</div>
		<div class="clock-right-text">
			<div class="QR_code"></div>
		</div>
	</div>
</div>
