<div style="width: 306px; margin: 15% auto;">
<style scoped="scoped">
#mfd-currency { border: 1px solid #1f567c; width: 19em; }
.mfd-currency-header { background: #1f567c; color: #ffffff; font-size: 1em; font-style: normal; font-weight: bold; margin: 0; padding: 0.5em 1em; }
.mfd-currency-rate { background: #eff6fb; font-weight: bold; }
.mfd-currency-symbol a { font-size: 2.4em; text-decoration: none; }
.mfd-currency-table { width: 100%; }
.mfd-currency-table td { border: none; text-align: center; }
.mfd-d { color: #ff1110; }
.mfd-u { color: #199300; }
.mfd-z { color: #18479b; }
a {	color: #1f567c; }
</style>
<div id="mfd-currency"></div>
</div>
<script src="//mfd.ru/services/informers/currency/"></script>
