<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>COE TV</title>

  <script src="./js/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
  <script src="./js/jquery.gridster.js" type="text/javascript"></script>
  <script src="./js/owl.carousel.min.js" type="text/javascript"></script>
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="./js/mootools-yui-compressed.js"></script>
  <script src="./js/clock.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="./css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./css/jquery.gridster.min.css">
  <link rel="stylesheet" type="text/css" href="./css/gridster_custom.css">
  <link rel="stylesheet" type="text/css" href="./css/clock.css">
</head>
<body>
  	<div>
  		<div class="gridster ready" id="grid-container">
		    <ul>
		    </ul>
		</div>
	</div>

	<script type="text/javascript">

    var gridster;

    var serialization = [];

    // for grid testing
    // for (var h = 1; h < 7; h++) {
    // 	for (var v = 1; v < 7; v++) {
    // 		serialization.push({
    // 			col: h, row: v, size_x: 1, size_y: 1
    // 		})
    // 	}
    // }

    $(function () {

        gridster = $(".gridster ul").gridster({
            widget_base_dimensions: [341, 384],
            widget_margins: [0, 0]
        }).data('gridster');

        function parseMap(map_data) {
          var map_file;
          console.log('map');
          $.get( "map.html", function( data ) {
             return data;
          });
        }

        function getBlockLayout(block) {
          switch (block) {
            case "1": return {
                        col: 1,
                        row: 1,
                        size_x: 2,
                        size_y: 1
                      };
                      break;
            case "2": return {
                        col: 1,
                        row: 1,
                        size_x: 2,
                        size_y: 2
                      };
                      break;
            case "3": return {
                        col: 3,
                        row: 1,
                        size_x: 1,
                        size_y: 1
                      };
                      break;
            case "4": return {
                        col: 3,
                        row: 2,
                        size_x: 1,
                        size_y: 1
                      };
                      break;

            case "12": return {
                        col: 1,
                        row: 1,
                        size_x: 2,
                        size_y: 2
                      };
                      break;
            case "13": return {
                        col: 1,
                        row: 1,
                        size_x: 3,
                        size_y: 1
                      };
                      break;
            case "24": return {
                        col: 1,
                        row: 2,
                        size_x: 3,
                        size_y: 1
                      };
                      break;
            case "34": return {
                        col: 3,
                        row: 1,
                        size_x: 1,
                        size_y: 2
                      };
                      break;

            case "1234": return {
                        col: 1,
                        row: 1,
                        size_x: 3,
                        size_y: 2
                      };
                      break;
          }
        }

        function placeClock(id, options) {
          var wrapper;
          var options = options || {};
          var cid = "clock_"+id;

          $.ajax({
            url: "html/clock.html",
            cache: false,
            success: function (data) {
              $('#' + id).html(data);
              clockInit();
              /*console.log('clock data', data);
              console.log('id = ', id);
              console.log('#id = ', $('#' + id));*/
            }
          });
        }

        function placeRss(id) {
          var wrapper;
          var options = options || {};
          var cid = "rss_"+id;

          $("#"+id).html("<iframe id='"+cid+"' src='html/rss.html'></iframe>");

          // $.ajax({
          //   url: "html/rss.html",
          //   cache: false,
          //   success: function (data) {
          //     $("#"+id).html(data);
          //     rssInit();
          //   }
          // });
        }

        function placeLogo(id, option) {
          if (options.src) {
            $("#"+id).html("<img src='"+options.src+"' />");
          }
        }

        function parseBlock(id, type, data) {
          console.log('parseBlock', id, type, data);
          placeRss(id);

          if (type === "map") {
            placeMap(id, data);
          }
          if (type === "text" || type === "html") {
            $("#"+id).html(data);
          }
          if (type === "carousel") {
            placeCarousel(id, data.pages, data.interval);
          }
          if (type === "clock") {
            placeClock(id, data);
          }
          if (type === "rss") {
            placeRss(id);
          }
          if (type === "logo") {
            placeLogo(id);
          }
        }

        function placeMap(id, options) {
          var mid = "map_"+id;
          var wrapper = '<div id="'+mid+'"></div>';
          var options = options || {};

          $("#"+id).html(wrapper);

          console.log('initMap', id, options);

          ymaps.ready(init);

          function init () {
              var myMap = new ymaps.Map(mid, {
                    center: options.center || center[59.913, 30.316564],
                    zoom: options.zoom || 12,
                    controls: []
                  });

              var trafficControl = new ymaps.control.TrafficControl({ state: {
                      providerKey: 'traffic#actual',
                      trafficShown: true
                  }});
              myMap.controls.add(trafficControl);
              trafficControl.getProvider('traffic#actual').state.set('infoLayerShown', true);

              console.log('init map', mid, options);
          }
        }

        function placeCarousel(id, pages, interval) {
          var cid = "carousel_"+id;
          var wrapper = '<div class="owl-carousel owl-theme" id="'+cid+'"></div>';

          $("#"+id).html(wrapper);

          function initCarousel(data, interval) {

            $.each(data, function (index, page) {
                $("#"+cid).append("<div>"+page+"</div>");
            });

            $("#"+cid).owlCarousel({
                items: 1,
                loop:true,
                nav:false,
                dots: false,
                autoplay: true,
                autoplayTimeout: interval || 1500
            });

            console.log('placeCarousel', id, pages, interval);

        }

            initCarousel(pages, interval);
        }

        function clearGrid() {
          //serialization = [];
          gridster.remove_all_widgets();
        }

        function buildGrid(elements) {
          clearGrid();

          elements = Gridster.sort_by_row_and_col_asc(elements);

          $.each(elements, function (i, element) {
            gridster.add_widget('<li id="' +element.uid+'" type="' + element.type + '"></li>', element.size_x, element.size_y, element.col, element.row);
            parseBlock(element.uid, element.type, element.data);
          });
          console.log('build grid');
        }

        function getData(url, func) {
          var eq = true;
          var temp = [];

          $.ajax({
            dataType: "json",
            url: url,
            cache: false,
            success: function (data) {
              console.log('Get data', data);

              $.each(data, function (i, block) {
                var blockLayout = getBlockLayout(block.blocks.join(""));

                temp.push({
                  col: blockLayout.col,
                  row: blockLayout.row,
                  size_x: blockLayout.size_x,
                  size_y: blockLayout.size_y,
                  type: block.widget,
                  data: block.data,
                  uid: block.uid,
                  modified: block.last_modified
                });
              });

              if (serialization.length == 0) {
                eq = false;
              } else if (serialization.length != temp.length) {
                eq = false;
              } else {
                // for (var t = 0; t < temp.length; t++) {
                //   if ((temp[t].uid != serialization[t].uid) || (temp[t].last_modified != serialization[t].last_modified)) {
                //     eq = false;
                //   }
                  // console.log(temp[t].md5, serialization[t].md5);
                  // if (temp[t].md5 != serialization[t].md5) {
                  //   console.log(temp[t].md5, serialization[t].md5);
                  //   eq = false;
                  // }
                //}
              }

              if (!eq) {
                serialization = temp;
                buildGrid(serialization);
                console.log("build data", serialization);
              }
              //used for Telebot
              if (func) {
                func()
              }
            },
            error: function() {
              console.log("Request Error");
            }
          });
        }

        getData("events/current");
        var interval = setInterval(function () {
          getData("events/current");
        }, 5000);
        
        function getTelebot() {
          getData("telebot", getTelebot);
        }
        getTelebot();

        //getData();

    });

	</script>
</body>
</html>
