<!DOCTYPE html>
<html>
<head>
    <title>Яндекс Пробки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Если вы используете API локально, то в URL ресурса необходимо указывать протокол в стандартном виде (http://...)-->
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <style>
        html, body, #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<div id="map">Map is loading</div>
<script>
    function init() {
        var myMap = new ymaps.Map('map', {
            center: [59.913000, 30.316564],
            zoom: 12,
            controls: []
        });

        // Создадим элемент управления "Пробки".
        var trafficControl = new ymaps.control.TrafficControl({
            state: {
                // Отображаются пробки "Сейчас".
                providerKey: 'traffic#actual',
                // Начинаем сразу показывать пробки на карте.
                trafficShown: true
            }
        });
        // Добавим контрол на карту.
        myMap.controls.add(trafficControl);
        // Получим ссылку на провайдер пробок "Сейчас" и включим показ инфоточек.
        trafficControl.getProvider('traffic#actual').state.set('infoLayerShown', true);
    }

    ymaps.ready(init);
</script>
</body>
</html>