<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a class="twitter-timeline" 
       href="https://twitter.com/teams_tv/lists/teamstv"
       data-width="300"
       data-height="300">
    </a> 

    <style>

        .timeline-Widget {
            position: absolute;
            left: 1px;
            top: 10px;
            width: 100%;
        }

    </style>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script type="text/javascript">

/***********************************************
* IFRAME Scroller script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Please keep this notice intact
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

setTimeout(() => {


document.getElementById('twitter-widget-0').contentWindow.document.getElementsByClassName("timeline-Tweet")[0].scrollTo(10, 100);

    //Specify speed of scroll. Larger=faster (ie: 5)
// var scrollspeed=cache=2

// //Specify intial delay before scroller starts scrolling (in miliseconds):
// var initialdelay=500

// // document.getElementById('twitter-widget-0').contentWindow.document.getElementById('x')

// function initializeScroller(){
// dataobj=document.all? document.all.datacontainer : document.getElementById('twitter-widget-0').contentWindow.document.getElementsByClassName("timeline-Widget")[0]
// dataobj.style.top="5px"
// setTimeout("getdataheight()", initialdelay)
// }

// function getdataheight(){
// thelength=dataobj.offsetHeight
// if (thelength==0)
// setTimeout("getdataheight()",10)
// else
// scrollDiv()
// }

// function scrollDiv(){
// dataobj.style.top=parseInt(dataobj.style.top)-scrollspeed+"px"
// if (parseInt(dataobj.style.top)<thelength*(-1))
// dataobj.style.top="5px"
// setTimeout("scrollDiv()",40)
// }

// if (window.addEventListener)
// window.addEventListener("load", initializeScroller, false)
// else if (window.attachEvent)
// window.attachEvent("onload", initializeScroller)
// else
// window.onload=initializeScroller
}, 3000);

</script>

</body>
</html>