<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="600">
    <title></title>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>

    <div id="weather_informer">
        ...123
    </div>

    <script>

        // $.ajaxSetup({
        //     beforeSend: function (request) {
        //         request.setRequestHeader("X-Yandex-API-Key", "53ad075a-bbbf-479e-831a-40dd59a5a97d");
        //     },
        //     headers: {
        //         "X-Yandex-API-Key": "53ad075a-bbbf-479e-831a-40dd59a5a97d"
        //     }
        // });


        $.ajax({
            type: "GET",
            url: "https://api.weather.yandex.ru/v1/forecast?lat=55.75396&lon=37.620393&limit=1&hours=false&lang=en_US",

            // beforeSend: function (request) {
            //     request.setRequestHeader("X-Yandex-API-Key", "53ad075a-bbbf-479e-831a-40dd59a5a97d");
            // },

            headers: {
                "X-Yandex-API-Key": "53ad075a-bbbf-479e-831a-40dd59a5a97d"
            },
         
            // jsonp: "callback",
         
            dataType: "json",
         
            // data: {
            //     format: "json",
            //     // headers: {
            //     //     "X-Yandex-API-Key": "53ad075a-bbbf-479e-831a-40dd59a5a97d"
            //     // },
            // },
         
            success: ( response ) => {
                console.log( response ); // server response
            }
        });

        // $.ajax({
        //     url: "https://api.weather.yandex.ru/v1/forecast?lat=55.75396&lon=37.620393&limit=1&hours=false&lang=en_US",
        //     headers: {
        //         "X-Yandex-API-Key": "53ad075a-bbbf-479e-831a-40dd59a5a97d"
        //     },
        //     dataType: "script",
        //     success: function(data) {
        //         console.log("success", data);
        //     },
        //     error: function(data) {
        //         console.log("error", data);
        //     }
        // });

        console.log($("#weather_informer").html());

    </script>

</body>
</html>